.background {
  background: linear-gradient(
    115deg,
    rgba(0, 29, 36, 1) 0%,
    rgba(42, 153, 168, 1) 66%,
    rgba(126, 217, 87, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.searchRandom,
.searchTerm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
